# USER-SPECIFIC FILES
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs

# TEST CONSOLE
*.sln
src/KnowYourRouteConsole/*

#UNIT TESTS - CANNOT DEVELOP AND RUN CURRENTLY DUE TO ENVIRONMENTAL ISSUES
test/KnowYourRoute.UnitTests/*
test/KnowYourRoute.UnitTestConsole/*

# DNX
project.lock.json
artifacts/

# OUTPUT
[Bb]in/
[Oo]bj/
TestResult.xml