# USER-SPECIFIC FILES
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs

# CONFIGURATION
**.configuration.json

# INPUT FILES
HighSchools.json

# NCrunch
_NCrunch_KnowYourRoute/
KnowYourRoute.v2.ncrunchsolution

# DNX
project.lock.json
artifacts/

# OUTPUT
[Bb]in/
[Oo]bj/
[Ff]iles/
TestResult.xml