# USER-SPECIFIC FILES
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs

# TEST CONSOLE
*.sln
src/KnowYourRouteConsole/*

# NCrunch
_NCrunch_KnowYourRoute/
KnowYourRoute.v2.ncrunchsolution

# DNX
project.lock.json
artifacts/

# OUTPUT
[Bb]in/
[Oo]bj/
TestResult.xml